@font-face {
    font-family: icon;
    src: url("../fonts/icon.eot");src: url("../fonts/icon.eot?69a9b7f6#iefix") format("embedded-opentype"),
             url("../fonts/icon.woff2?69a9b7f6") format("woff2"),
             url("../fonts/icon.woff?69a9b7f6") format("woff"),
             url("../fonts/icon.ttf?69a9b7f6") format("truetype"),
             url("../fonts/icon.svg?69a9b7f6#icon") format("svg");
    font-weight: normal;
    font-style: normal;
}

.pw-msk, .pw-msk input[type=text] {
    font-family: 'icon';
}

.pw-msk::placeholder, .pw-msk input[type=text]::placeholder {
    font-family: initial;
}

[class^="icon"]::before, [class*=" icon"]::before {
    font-family: 'icon' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
}


.icon-arrow-down::before {
    content: "\554a";
}

.icon-arrow-next-ok::before {
    content: "\554b";
}

.icon-arrow-next::before {
    content: "\554c";
}

.icon-arrow-prev::before {
    content: "\554d";
}

.icon-check::before {
    content: "\554e";
}

.icon-close::before {
    content: "\554f";
}

.icon-facebook::before {
    content: "\5550";
}

.icon-instagram::before {
    content: "\5551";
}

.icon-linkedin::before {
    content: "\5552";
}

.icon-location::before {
    content: "\5553";
}

.icon-mail::before {
    content: "\5554";
}

.icon-phone::before {
    content: "\5555";
}

.icon-whatsapp::before {
    content: "\5556";
}

.icon-world::before {
    content: "\5557";
}

.icon-x::before {
    content: "\5558";
}

.icon-youtube::before {
    content: "\5559";
}

